
<div>
    <h4>{{pageTitle}}</h4>
    <div>
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="listFilter" />
            </div>
        </div>
        <div class="row" *ngIf="listFilter">
            <div class="col-md-6">
                <h3>Filtered By: {{listFilter}}</h3>
            </div>
        </div>
        
        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
        
        <div>
            <ul class="companies">
                <li *ngFor="let company of companies | companyFilter:listFilter">
                    <div>
                        <img [src]="company.imageLogo" [title]="company.companyName | uppercase" [style.width.px] ="imageWidth" [style.margin.px] ="imageMargin" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>